<form class="{{cssClass}}" autocomplete="off">
  {{!-- Uncomment to debug data context --}}
  {{!--{{log data}}--}}

  {{!-- Character Sheet Header --}}
  <div class "top-bar flexcol">
    <header class="sheet-header flexrow">
      <img class="profile-img" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
      <div class="header-fields flexrow">
        <div class="name-info flexcol flex-between">
          <input class="name-input header-input align-stretch" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'farhome.characterName'}}" />
          <label class="under-label" for="name">{{localize 'farhome.characterName'}}</label>
        </div>
        <div class="character-info flexcol">
          <input class="header-input" name="data.level.value" type="text" value="{{data.level.value}}" data-dtype="Number" placeholder="{{data.level.label}}" />
          <label class="under-label" for="data.level.value">{{localize 'farhome.level'}}</label>
          <input class="header-input" name="data.xp.value" type="text" value="{{data.xp.value}}" data-dtype="Number" placeholder="{{data.xp.label}}" />
          <label class="under-label" for="data.xp.value">{{localize 'farhome.xp'}}</label>
          <input class="header-input" name="data.race.value" type="text" value="{{data.race.value}}" placeholder="{{data.race.label}}" />
          <label class="under-label" for="data.race.value">{{localize 'farhome.race'}}</label>
          <input class="header-input" name="data.background.value" type="text" value="{{data.background.value}}" placeholder="{{data.background.label}}" />
          <label class="under-label" for="data.background.value">{{localize 'farhome.background'}}</label>
        </div>
      </div>
    </header>
    
    {{!-- Resource Bar --}}
    <div class="resource-fields grid grid-6col">
      {{!-- TODO Try to change these into partials with context and variables... Localize the string here and pass the string in or just add a label field. --}}
      {{> "systems/farhome/templates/partials/max-resource-partial.hbs" data.features.wounds
                                                                        objectString="data.features.wounds"
                                                                        separatorString=" / "}}
      {{> "systems/farhome/templates/partials/max-resource-partial.hbs" data.features.healingSurges
                                                                        objectString="data.features.healingSurges"
                                                                        separatorString=" / "}}
      {{> "systems/farhome/templates/partials/max-resource-partial.hbs" data.features.ap
                                                                        objectString="data.features.ap"
                                                                        separatorString=" / "}}
      {{> "systems/farhome/templates/partials/max-resource-partial.hbs" data.features.mana
                                                                        objectString="data.features.mana"
                                                                        separatorString=" / "}}
      {{> "systems/farhome/templates/partials/resource-partial.hbs" data.features.spellPower
                                                                    objectString="data.features.spellPower"}}
      <div class="resource flex-group-center">
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.features.move.value" value="{{data.features.move.value}}" data-dtype="Number" placeholder="{{localize 'farhome.move'}}"/>
            <input type="text" name="data.features.sprint.value" value="{{data.features.sprint.value}}" data-dtype="Number" placeholder="{{localize 'farhome.sprint'}}"/>
          </div>
          <label for="data.features.move.value" class="resource-label">{{data.features.move.label}}</label>
      </div>
    </div>
  </div>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{localize 'farhome.attributes'}}</a>
    <a class="item" data-tab="feats">{{localize 'farhome.feats'}}</a>
    <a class="item" data-tab="maneuvers">{{localize 'farhome.maneuvers'}}</a>
    <a class="item" data-tab="spells">{{localize 'farhome.spells'}}</a>
    <a class="item" data-tab="inventory">{{localize 'farhome.inventory'}}</a>
    <a class="item" data-tab="biography">{{localize 'farhome.biography'}}</a>
    <a class="item" data-tab="notes">{{localize 'farhome.notes'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- TODO Add proficiency stuff next --}}
      {{#each data.attributes as |attributeObject key|}}
        {{> "systems/farhome/templates/partials/attribute-partial.hbs" attributeObject
                                                                       objectString="data.attributes.{{key}}"}}
      {{/each}}
    </div>
    
    {{!-- TODO Attributes, Biography and Notes are the most important things to setup right now for initial character creation. Everything else they can jam under notes for now. --}}

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="biography">
        {{editor content=data.biography.value target="data.biography.value" button=true owner=owner editable=editable}}
    </div>
    
    {{!-- Notes Tab --}}
    {{!-- TODO Figure out how to fix the initial text section. --}}
    <div class="tab notes" data-group="primary" data-tab="notes">
        {{editor content=data.notes.value target="data.notes.value" button=true owner=owner editable=editable}}
    </div>
  </section>

</form>