<!-- TODO Consider hard-coding everything and re-factoring later -->

<form class="{{cssClass}}" autocomplete="off">
  {{!-- Character Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

    <section class="header-details flexrow">
      <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'farhome.characterName'}}" />
    </section>
  </header>
</form>