<form class="{{cssClass}}" autocomplete="off">
  {{!-- Debugging --}}
  {{log data}}

  {{!-- Character Sheet Header --}}
  {{!-- TODO Align the top-bar to the top without stretching, currently it takes half the page. --}}
  <div class "top-bar flexcol">
    <header class="sheet-header flexrow">
      <img class="profile-img" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
      <div class="header-fields flexrow">
        <div class="name-info flexcol flex-between">
          <input class="name-input header-input align-stretch" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'farhome.characterName'}}" />
          <label class="under-label" for="name">{{localize 'farhome.characterName'}}</label>
        </div>
        <div class="character-info flexcol">
          <input class="header-input" name="data.level.value" type="text" value="{{data.level.value}}" data-dtype="Number" placeholder="{{localize 'farhome.level'}}" />
          <label class="under-label" for="data.level.value">{{localize 'farhome.level'}}</label>
          <input class="header-input" name="data.xp.value" type="text" value="{{data.xp.value}}" data-dtype="Number" placeholder="{{localize 'farhome.xp'}}" />
          <label class="under-label" for="data.xp.value">{{localize 'farhome.xp'}}</label>
          <input class="header-input" name="data.race.value" type="text" value="{{data.race.value}}" placeholder="{{localize 'farhome.race'}}" />
          <label class="under-label" for="data.race.value">{{localize 'farhome.race'}}</label>
          <input class="header-input" name="data.background.value" type="text" value="{{data.background.value}}" placeholder="{{localize 'farhome.background'}}" />
          <label class="under-label" for="data.background.value">{{localize 'farhome.background'}}</label>
        </div>
      </div>
    </header>
    
    {{!-- Resource Bar --}}
    <div class="resource-fields grid grid-6col">
      {{!-- TODO Try to change these into partials with context and variables... Localize the string here and pass the string in. --}}
      <div class="resource flex-group-center">
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.features.wounds.value" value="{{data.features.wounds.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="data.features.wounds.max" value="{{data.features.wounds.max}}" data-dtype="Number"/>
          </div>
          <label for="data.features.wounds.value" class="resource-label">{{localize 'farhome.wounds'}}</label>
      </div>
      <div class="resource flex-group-center">
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.features.healingSurges.value" value="{{data.features.healingSurges.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="data.features.healingSurges.max" value="{{data.features.healingSurges.max}}" data-dtype="Number"/>
          </div>
          <label for="data.features.healingSurges.value" class="resource-label">{{localize 'farhome.healingSurges'}}</label>
      </div>
      <div class="resource flex-group-center">
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.features.ap.value" value="{{data.features.ap.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="data.features.ap.max" value="{{data.features.ap.max}}" data-dtype="Number"/>
          </div>
          <label for="data.features.ap.value" class="resource-label">{{localize 'farhome.ap'}}</label>
      </div>
      <div class="resource flex-group-center">
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.features.mana.value" value="{{data.features.mana.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="data.features.mana.max" value="{{data.features.mana.max}}" data-dtype="Number"/>
          </div>
          <label for="data.features.mana.value" class="resource-label">{{localize 'farhome.mana'}}</label>
      </div>
      <div class="resource flex-group-center">
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.features.spellPower.value" value="{{data.features.spellPower.value}}" data-dtype="Number"/>
          </div>
          <label for="data.features.spellPower.value" class="resource-label">{{localize 'farhome.spellPower'}}</label>
      </div>
      <div class="resource flex-group-center">
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.features.move.value" value="{{data.features.move.value}}" data-dtype="Number" placeholder="{{localize 'farhome.move'}}"/>
            <input type="text" name="data.features.sprint.value" value="{{data.features.sprint.value}}" data-dtype="Number" placeholder="{{localize 'farhome.sprint'}}"/>
          </div>
          <label for="data.features.move.value" class="resource-label">{{localize 'farhome.movement'}}</label>
      </div>
    </div>
  </div>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{localize 'farhome.attributes'}}</a>
    <a class="item" data-tab="feats">{{localize 'farhome.feats'}}</a>
    <a class="item" data-tab="maneuvers">{{localize 'farhome.maneuvers'}}</a>
    <a class="item" data-tab="spells">{{localize 'farhome.spells'}}</a>
    <a class="item" data-tab="inventory">{{localize 'farhome.inventory'}}</a>
    <a class="item" data-tab="biography">{{localize 'farhome.biography'}}</a>
    <a class="item" data-tab="notes">{{localize 'farhome.notes'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- TODO Attributes, Biography and Notes are the most important things to setup right now for initial character creation. Everything else they can jam under notes for now. --}}

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="biography">
        {{editor content=data.biography.value target="data.biography.value" button=true owner=owner editable=editable}}
    </div>
    
    {{!-- Notes Tab --}}
    {{!-- TODO Figure out how to fix the initial text section. --}}
    <div class="tab notes" data-group="primary" data-tab="notes">
        {{editor content=data.notes.value target="data.notes.value" button=true owner=owner editable=editable}}
    </div>
  </section>

</form>