<form class="{{cssClass}}" autocomplete="off">
  {{!-- Debugging --}}
  {{log data}}

  {{!-- Character Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
    <div class="header-fields">
      <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'farhome.characterName'}}" />
      <input name="data.level" type="text" value="{{data.level}}" placeholder="{{localize 'farhome.level'}}" />
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize 'farhome.biography'}}</a>
    <a class="item" data-tab="inventory">{{localize 'farhome.inventory'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
  </section>
</form>