<form class="{{cssClass}}" autocomplete="off">
  {{!-- Uncomment to debug data context --}}
  {{log data}}

  {{!-- Character Sheet Header --}}
  <div class "top-bar flexcol">
    <header class="sheet-header flexrow">
      <img class="profile-img" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
      <div class="header-fields flexrow">
        <div class="name-info flexcol flex-between flex3">
          <input class="name-input header-input align-stretch" name="name" type="text" value="{{actor.name}}"
            placeholder="{{localize 'farhome.characterName'}}" />
          <label class="under-label" for="name">{{localize 'farhome.characterName'}}</label>
          <div class="race-background-info flexrow flex-between flex2">
            <div class="race-info flexcol">
              <input class="header-input" name="data.race.value" type="text" value="{{data.race.value}}"
                placeholder="{{data.race.label}}" />
              <label class="under-label" for="data.race.value">{{localize 'farhome.race'}}</label>
            </div>
            <div class="background-info flexcol">
              <input class="header-input" name="data.background.value" type="text" value="{{data.background.value}}"
                placeholder="{{data.background.label}}" />
              <label class="under-label" for="data.background.value">{{localize 'farhome.background'}}</label>
            </div>
          </div>
        </div>
        <div class="character-info flexcol flex1">
          <input class="header-input" name="data.level.value" type="text" value="{{data.level.value}}"
            data-dtype="Number" placeholder="{{data.level.label}}" />
          <label class="under-label" for="data.level.value">{{localize 'farhome.level'}}</label>
          <input class="header-input" name="data.xp.value" type="text" value="{{data.xp.value}}" data-dtype="Number"
            placeholder="{{data.xp.label}}" />
          <label class="under-label" for="data.xp.value">{{localize 'farhome.xp'}}</label>
        </div>
      </div>
    </header>

    {{!-- Resource Bar --}}
    <div class="resource-fields grid grid-7col">
      {{>
      "systems/farhome/templates/partials/max-resource-partial.hbs"
      data.features.hero
      objectString="data.features.hero"
      separatorString=" / "}}
      {{>
      "systems/farhome/templates/partials/max-resource-partial.hbs"
      data.features.wounds
      objectString="data.features.wounds"
      separatorString=" / "}}
      {{>
      "systems/farhome/templates/partials/max-resource-partial.hbs"
      data.features.healingSurges
      objectString="data.features.healingSurges"
      separatorString=" / "}}
      {{>
      "systems/farhome/templates/partials/max-resource-partial.hbs"
      data.features.ap
      objectString="data.features.ap"
      separatorString=" / "}}
      {{>
      "systems/farhome/templates/partials/max-resource-partial.hbs"
      data.features.mana
      objectString="data.features.mana"
      separatorString=" / "}}
      {{>
      "systems/farhome/templates/partials/resource-partial.hbs"
      data.features.spellPower
      objectString="data.features.spellPower"}}
      <div class="resource-box flex-group-center">
        <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="data.features.move.value" value="{{data.features.move.value}}" data-dtype="Number"
            placeholder="{{localize 'farhome.move'}}" />
          <input type="text" name="data.features.sprint.value" value="{{data.features.sprint.value}}"
            data-dtype="Number" placeholder="{{localize 'farhome.sprint'}}" />
        </div>
        <label for="data.features.move.value" class="resource-label">{{data.features.move.label}}</label>
      </div>
    </div>
  </div>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{localize 'farhome.attributes'}}</a>
    <a class="item" data-tab="feats">{{localize 'farhome.feats'}}</a>
    <a class="item" data-tab="maneuvers">{{localize 'farhome.maneuvers'}}</a>
    <a class="item" data-tab="spells">{{localize 'farhome.spells'}}</a>
    <a class="item" data-tab="inventory">{{localize 'farhome.inventory'}}</a>
    <a class="item" data-tab="biography">{{localize 'farhome.biography'}}</a>
    <a class="item" data-tab="notes">{{localize 'farhome.notes'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Attributes Tab --}}
    <div class="tab attributes-tab flexrow" data-group="primary" data-tab="attributes">
      <div class="attribute-list flexcol">
        {{>
        "systems/farhome/templates/partials/attribute-partial.hbs"
        data.attributes.str
        objectString="data.attributes.str"}}
        {{>
        "systems/farhome/templates/partials/attribute-partial.hbs"
        data.attributes.dex
        objectString="data.attributes.dex"}}
        {{>
        "systems/farhome/templates/partials/attribute-partial.hbs"
        data.attributes.sta
        objectString="data.attributes.sta"}}
        {{>
        "systems/farhome/templates/partials/attribute-partial.hbs"
        data.attributes.int
        objectString="data.attributes.int"}}
        {{>
        "systems/farhome/templates/partials/attribute-partial.hbs"
        data.attributes.will
        objectString="data.attributes.will"}}
        {{>
        "systems/farhome/templates/partials/attribute-partial.hbs"
        data.attributes.cha
        objectString="data.attributes.cha"}}
      </div>
      <div class="saves-proficiency-group flexcol">
        <div class="saves-list flex-group-center proficiency-group-box">
          <h2>{{localize 'farhome.saves'}}</h2>
          <table class="proficiency-table">
            <colgroup>
              <col class="proficiency-label" />
              <col class="proficiency-data" />
            </colgroup>
            {{>
            "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
            data.proficiencies.saves.str
            objectString="data.proficiencies.saves.str"}}
            {{>
            "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
            data.proficiencies.saves.dex
            objectString="data.proficiencies.saves.dex"}}
            {{>
            "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
            data.proficiencies.saves.sta
            objectString="data.proficiencies.saves.sta"}}
            {{>
            "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
            data.proficiencies.saves.int
            objectString="data.proficiencies.saves.int"}}
            {{>
            "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
            data.proficiencies.saves.will
            objectString="data.proficiencies.saves.will"}}
            {{>
            "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
            data.proficiencies.saves.cha
            objectString="data.proficiencies.saves.cha"}}
          </table>
        </div>
        <div class="attribute-proficiency-group flex-group-center proficiency-group-box">
          <h2>{{localize 'farhome.proficiencies'}}</h2>
          <div class="proficiency-group">
            <h4>{{localize 'farhome.str'}}</h4>
            <table class="proficiency-table">
              <colgroup>
                <col class="proficiency-label" />
                <col class="proficiency-data" />
              </colgroup>
              {{>
              "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
              data.proficiencies.attributes.str.athletics
              objectString="data.proficiencies.attributes.str.athletics"}}
              {{>
              "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
              data.proficiencies.attributes.str.intimidation
              objectString="data.proficiencies.attributes.str.intimidation"}}
            </table>
          </div>
          <div class="proficiency-group">
            <h4>{{localize 'farhome.dex'}}</h4>
            <table class="proficiency-table">
              <colgroup>
                <col class="proficiency-label" />
                <col class="proficiency-data" />
              </colgroup>
              {{>
              "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
              data.proficiencies.attributes.dex.acrobatics
              objectString="data.proficiencies.attributes.dex.acrobatics"}}
              {{>
              "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
              data.proficiencies.attributes.dex.lockpicking
              objectString="data.proficiencies.attributes.dex.lockpicking"}}
              {{>
              "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
              data.proficiencies.attributes.dex.stealth
              objectString="data.proficiencies.attributes.dex.stealth"}}
              {{>
              "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
              data.proficiencies.attributes.dex.sleightOfHand
              objectString="data.proficiencies.attributes.dex.sleightOfHand"}}
            </table>
          </div>
          <div class="proficiency-group">
            <h4>{{localize 'farhome.sta'}}</h4>
            <table class="proficiency-table">
              <colgroup>
                <col class="proficiency-label" />
                <col class="proficiency-data" />
              </colgroup>
              {{>
              "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
              data.proficiencies.attributes.sta.exhaustion
              objectString="data.proficiencies.attributes.sta.exhaustion"}}
              {{>
              "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
              data.proficiencies.attributes.sta.survival
              objectString="data.proficiencies.attributes.sta.survival"}}
            </table>
          </div>
          <div class="proficiency-group">
            <h4>{{localize 'farhome.int'}}</h4>
            <table class="proficiency-table">
              <colgroup>
                <col class="proficiency-label" />
                <col class="proficiency-data" />
              </colgroup>
              {{>
              "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
              data.proficiencies.attributes.int.arcana
              objectString="data.proficiencies.attributes.int.arcana"}}
              {{>
              "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
              data.proficiencies.attributes.int.investigation
              objectString="data.proficiencies.attributes.int.investigation"}}
              {{>
              "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
              data.proficiencies.attributes.int.lore
              objectString="data.proficiencies.attributes.int.lore"}}
              {{>
              "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
              data.proficiencies.attributes.int.medicine
              objectString="data.proficiencies.attributes.int.medicine"}}
            </table>
          </div>
          <div class="proficiency-group">
            <h4>{{localize 'farhome.will'}}</h4>
            <table class="proficiency-table">
              <colgroup>
                <col class="proficiency-label" />
                <col class="proficiency-data" />
              </colgroup>
              {{>
              "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
              data.proficiencies.attributes.will.animalHandling
              objectString="data.proficiencies.attributes.will.animalHandling"}}
              {{>
              "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
              data.proficiencies.attributes.will.insight
              objectString="data.proficiencies.attributes.will.insight"}}
              {{>
              "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
              data.proficiencies.attributes.will.nature
              objectString="data.proficiencies.attributes.will.nature"}}
              {{>
              "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
              data.proficiencies.attributes.will.perception
              objectString="data.proficiencies.attributes.will.perception"}}
            </table>
          </div>
          <div class="proficiency-group">
            <h4>{{localize 'farhome.cha'}}</h4>
            <table class="proficiency-table">
              <colgroup>
                <col class="proficiency-label" />
                <col class="proficiency-data" />
              </colgroup>
              {{>
              "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
              data.proficiencies.attributes.cha.conversation
              objectString="data.proficiencies.attributes.cha.conversation"}}
              {{>
              "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
              data.proficiencies.attributes.cha.diplomacy
              objectString="data.proficiencies.attributes.cha.diplomacy"}}
              {{>
              "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
              data.proficiencies.attributes.cha.performance
              objectString="data.proficiencies.attributes.cha.performance"}}
              {{>
              "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
              data.proficiencies.attributes.cha.religion
              objectString="data.proficiencies.attributes.cha.religion"}}
            </table>
          </div>
        </div>
      </div>
      <div class="weapon-spells-equipment-tool-group flexcol">
        <div class="weapons-proficiency-group flex-group-center proficiency-group-box">
          <h2>{{localize 'farhome.weapons'}}</h2>
          <table class="proficiency-table">
            <colgroup>
              <col class="proficiency-label" />
              <col class="proficiency-data" />
            </colgroup>
            {{>
            "systems/farhome/templates/partials/row-number-partial.hbs"
            data.proficiencies.weapons.oneHand
            objectString="data.proficiencies.weapons.oneHand"}}
            {{>
            "systems/farhome/templates/partials/row-number-partial.hbs"
            data.proficiencies.weapons.twoHand
            objectString="data.proficiencies.weapons.twoHand"}}
            {{>
            "systems/farhome/templates/partials/row-number-partial.hbs"
            data.proficiencies.weapons.ranged
            objectString="data.proficiencies.weapons.ranged"}}
            {{>
            "systems/farhome/templates/partials/row-number-partial.hbs"
            data.proficiencies.weapons.unarmed
            objectString="data.proficiencies.weapons.unarmed"}}
          </table>
        </div>
        <div class="equipment-proficiency-group flex-group-center proficiency-group-box">
          <h2>{{localize 'farhome.equipment'}}</h2>
          <table class="proficiency-table">
            <colgroup>
              <col class="proficiency-label" />
              <col class="proficiency-data" />
            </colgroup>
            {{>
            "systems/farhome/templates/partials/row-bool-partial.hbs"
            data.proficiencies.equipment.lightArmor
            objectString="data.proficiencies.equipment.lightArmor"}}
            {{>
            "systems/farhome/templates/partials/row-bool-partial.hbs"
            data.proficiencies.equipment.mediumArmor
            objectString="data.proficiencies.equipment.mediumArmor"}}
            {{>
            "systems/farhome/templates/partials/row-bool-partial.hbs"
            data.proficiencies.equipment.heavyArmor
            objectString="data.proficiencies.equipment.heavyArmor"}}
            {{>
            "systems/farhome/templates/partials/row-bool-partial.hbs"
            data.proficiencies.equipment.buckler
            objectString="data.proficiencies.equipment.buckler"}}
            {{>
            "systems/farhome/templates/partials/row-bool-partial.hbs"
            data.proficiencies.equipment.shield
            objectString="data.proficiencies.equipment.shield"}}
          </table>
        </div>
        <div class="spells-proficiency-group flex-group-center proficiency-group-box">
          <h2>{{localize 'farhome.spells'}}</h2>
          <table class="proficiency-table">
            <colgroup>
              <col class="proficiency-label" />
              <col class="proficiency-data" />
            </colgroup>
            {{>
            "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
            data.proficiencies.spells.arcane
            objectString="data.proficiencies.spells.arcane"}}
            {{>
            "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
            data.proficiencies.spells.curse
            objectString="data.proficiencies.spells.curse"}}
            {{>
            "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
            data.proficiencies.spells.divine
            objectString="data.proficiencies.spells.divine"}}
            {{>
            "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
            data.proficiencies.spells.druidic
            objectString="data.proficiencies.spells.druidic"}}
          </table>
        </div>
        <div class="tools-proficiency-group flex-group-center proficiency-group-box">
          <h2>{{localize 'farhome.tools'}}</h2>
          <table class="proficiency-table">
            <colgroup>
              <col class="proficiency-label" />
              <col class="proficiency-data" />
            </colgroup>
            {{>
            "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
            data.proficiencies.tools.repairKit
            objectString="data.proficiencies.tools.repairKit"}}
            {{>
            "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
            data.proficiencies.tools.enchantersTools
            objectString="data.proficiencies.tools.enchantersTools"}}
            {{>
            "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
            data.proficiencies.tools.apothecarySet
            objectString="data.proficiencies.tools.apothecarySet"}}
            {{>
            "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
            data.proficiencies.tools.scribingTools
            objectString="data.proficiencies.tools.scribingTools"}}
          </table>
        </div>
      </div>
    </div>

    {{!-- Feats Tab --}}
    <div class="tab feats-tab" data-group="primary" data-tab="feats">
      <ol class="items-list">
        <li class="item flexrow item-header">
          <div class="item-image"></div>
          <div class="item-name">Name</div>
          <div class="item-controls">
            <a class="item-control item-create" title="Create Feat" data-type="feat"><i class="fas fa-plus"></i> Add Feat</a>
          </div>
        </li>
        {{#each feats as |feat id|}}
        <li class="item flexrow" data-item-id="{{feat._id}}">
          <div class="item-image"><img src="{{feat.img}}" title="{{feat.name}}" width="24" height="24" /></div>
          <h4 class="item-name">{{feat.name}}</h4>
          <div class="item-controls">
            <a class="item-control item-edit" title="Edit Feat"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Feat"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>
    </div>

    {{!-- Maneuvers Tab --}}
    <div class="tab maneuvers-tab" data-group="primary" data-tab="maneuvers">
      <ol class="items-list">
        <li class="item flexrow item-header">
          <div class="item-image"></div>
          <div class="item-name">Name</div>
          <div class="item-controls">
            <a class="item-control item-create" title="Create Maneuver" data-type="maneuver"><i class="fas fa-plus"></i> Add Maneuver</a>
          </div>
        </li>
        {{#each maneuvers as |maneuver id|}}
        <li class="item flexrow" data-item-id="{{maneuver._id}}">
          <div class="item-image"><img src="{{maneuver.img}}" title="{{maneuver.name}}" width="24" height="24" /></div>
          <h4 class="item-name">{{maneuver.name}}</h4>
          <div class="item-controls">
            <a class="item-control item-edit" title="Edit Maneuver"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Maneuver"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>
    </div>

    {{!-- Spells Tab --}}
    {{!-- TODO This needs to add the ability for different levels of spells. --}}
    <div class="tab spells-tab" data-group="primary" data-tab="spells">
      <ol class="items-list">
        <li class="item flexrow item-header">
          <div class="item-image"></div>
          <div class="item-name">Name</div>
          <div class="item-controls"></div>
        </li>
        {{#each spells as |spellsByLevel spellLevel|}}
          <li class="item flexrow spell-divider">
            <div class="item-image"></div>
            <div class="item-name">Level {{spellLevel}} Spells</div>
            <div class="item-controls">
              <a class="item-control item-create" title="Create Spell" data-type="spell" data-spell-level="{{spellLevel}}"><i class="fas fa-plus"></i> Add Level {{spellLevel}} Spell</a>
            </div>
          </li>
          {{#each spellsByLevel as |spell id|}}
            <li class="item flexrow" data-item-id="{{spell._id}}">
              <div class="item-image"><img src="{{spell.img}}" title="{{spell.name}}" width="24" height="24" /></div>
              <h4 class="item-name">{{spell.name}}</h4>
              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Spell"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Spell"><i class="fas fa-trash"></i></a>
              </div>
            </li>
          {{/each}}
        {{/each}}
      </ol>
    </div>

    {{!-- Inventory Tab --}}
    <div class="tab inventory-tab" data-group="primary" data-tab="inventory">
      <ol class="items-list">
        <li class="item flexrow item-header">
          <div class="item-image"></div>
          <div class="item-name">Name</div>
          <div class="item-controls">
            <a class="item-control item-create" title="Create Item" data-type="item"><i class="fas fa-plus"></i> Add Item</a>
          </div>
        </li>
        {{#each inventory as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
          <h4 class="item-name">{{item.name}}</h4>
          <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography-tab" data-group="primary" data-tab="biography">
      {{editor content=data.biography.value target="data.biography.value" button=true owner=owner editable=editable}}
    </div>

    {{!-- Notes Tab --}}
    {{!-- TODO Figure out how to fix the initial text section. --}}
    <div class="tab notes-tab" data-group="primary" data-tab="notes">
      {{editor content=data.notes.value target="data.notes.value" button=true owner=owner editable=editable}}
    </div>
  </section>

</form>