<form class="{{cssClass}}" autocomplete="off">
  {{!-- Character Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

    <section class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'farhome.character.name'}}" />
        <input name="data.background" type="text" value="{{data.background}}" placeholder="{{localize 'farhome.character.background'}}" />
      </h1>
    </section>
  </header>
  
  {{!-- Character Stats and Saving Throw Proficiencies --}}
  <div class="sidebar">
    {{> "systems/farhome/templates/partials/character-stat-block.hbs" }}
  </div>
</form>