<form class="{{cssClass}}" autocomplete="off">
  {{!-- Uncomment to debug data context --}}
  {{!--{{log .}}--}}

  {{!-- TODO Need to add under-labels for some things similar to Actor sheet. --}}
  {{!-- TODO Create common parts to allow for common elements between the different item sheet types. --}}

  {{!-- Item Sheet Header --}}
  {{> "systems/farhome/templates/partials/item-header-partial.hbs"}}

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "farhome.description"}}</a>
    <a class="item" data-tab="attributes">{{localize "farhome.attributes"}}</a>
  </nav>

  {{!-- Item Sheet Content --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor content=data.description.value target="data.description.value" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <table>
        <tr>
          <th>{{localize "farhome.quantity"}}</th>
          <th>{{localize "farhome.weight"}}</th>
        </tr>
        <tr>
          <td>
            <input name="data.quantity.value" type="text" value="{{data.quantity.value}}" placeholder="Quantity" data-dtype="Number" />
          </td>
          <td>
            <input name="data.weight.value" type="text" value="{{data.weight.value}}" placeholder="Weight" data-dtype="Number" />
          </td>
        </tr>
      </table>
    </div>
  </div>
</form>