<div class="attribute-box">
  <label class="attribute-label rollable" for="{{objectString}}.value" data-roll="{{roll}}" data-label="{{label}}">{{label}}</label>
  <input class="attribute-input" type="text" name="{{objectString}}.value" value="{{value}}" data-dtype="Number"/>
</div>