<section>
  <!--TODO Find out how to localize these and iterate on sub-elements-->
  <div class="ability-box flexcol">
    {{#each data.proficiency.ability as |ability abilityName|}}
      <div class="ability-group flexcol"></div>
        <h2>{{abilityName}}</h2>
        {{#each ability as |proficiency proficiencyName|}}
          <div class="ability flexrow">
            <!-- TODO Add localization here -->
            <!-- TODO Value changes aren't working yet -->
            <label for="farhome.proficiency.ability.{{abilityName}}.{{proficiencyName}}">{{proficiencyName}}</label>
            <input name="farhome.proficiency.ability.{{abilityName}}.{{proficiencyName}}" type="text" value="{{proficiency}}" data-dtype="Number" placeholder="{{proficiencyName}}"/>
            <p>{{localize 'farhome.{proficiencyName}' proficiencyName=proficiencyName}}</p>
            <p>{{localize 'farhome.athletics'}}</p>
          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>
</section>