<section>
  <!--Try to reduce code duplication.-->
  <div class="stat">
    <label for="data.attribute.str">{{localize 'farhome.character.attribute.str'}}</label>
    <input name="data.attribute.str" type="text" value="{{data.attribute.str}}" />
  </div>
  <div class="stat">
    <label for="data.attribute.dex">{{localize 'farhome.character.attribute.dex'}}</label>
    <input name="data.attribute.dex" type="text" value="{{data.attribute.dex}}" />
  </div>
  <div class="stat">
    <label for="data.attribute.sta">{{localize 'farhome.character.attribute.sta'}}</label>
    <input name="data.attribute.sta" type="text" value="{{data.attribute.sta}}" />
  </div>
  <div class="stat">
    <label for="data.attribute.int">{{localize 'farhome.character.attribute.int'}}</label>
    <input name="data.attribute.int" type="text" value="{{data.attribute.int}}" />
  </div>
  <div class="stat">
    <label for="data.attribute.will">{{localize 'farhome.character.attribute.will'}}</label>
    <input name="data.attribute.will" type="text" value="{{data.attribute.will}}" />
  </div>
  <div class="stat">
    <label for="data.attribute.cha">{{localize 'farhome.character.attribute.cha'}}</label>
    <input name="data.attribute.cha" type="text" value="{{data.attribute.cha}}" />
  </div>
</section>