<section>
  <!--#todo Find out how to localize these and iterate on sub-elements-->
  <div class="ability-box flexcol">
    {{#each data.proficiency.ability as |ability abilityName|}}
      <div class="ability-group flexcol"></div>
        <h2>{{abilityName}}</h2>
        {{#each ability as |proficiency proficiencyName|}}
          <div class="ability">
            <!-- #todo Add localization here -->
            <!-- #todo This isn't quite working yet -->
            <label for="farhome.ability.{{abilityName}}.{{proficiencyName}}">{{proficiencyName}}</label>
            <input name="farhome.ability.{{abilityName}}.{{proficiencyName}}" type="text" value="{{proficiency}}" />
          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>
</section>