<section>
  <!-- #todo Switch to using handlebar each or parameterized partials -->
  <!-- #todo If parameterized partials can be used, consider moving save proficiency under attribute instead for easier looping. -->
  <div class="stat">
    <label for="data.attribute.str">{{localize 'farhome.str'}}</label>
    <input name="data.attribute.str" type="text" value="{{data.attribute.str}}" />
    <input name="data.proficiency.saves.str" class="save" type="text" value="{{data.proficiency.saves.str}}" />
  </div>
  <div class="stat">
    <label for="data.attribute.dex">{{localize 'farhome.dex'}}</label>
    <input name="data.attribute.dex" type="text" value="{{data.attribute.dex}}" />
    <input name="data.proficiency.saves.dex" class="save" type="text" value="{{data.proficiency.saves.dex}}" />
  </div>
  <div class="stat">
    <label for="data.attribute.sta">{{localize 'farhome.sta'}}</label>
    <input name="data.attribute.sta" type="text" value="{{data.attribute.sta}}" />
    <input name="data.proficiency.saves.sta" class="save" type="text" value="{{data.proficiency.saves.sta}}" />
  </div>
  <div class="stat">
    <label for="data.attribute.int">{{localize 'farhome.int'}}</label>
    <input name="data.attribute.int" type="text" value="{{data.attribute.int}}" />
    <input name="data.proficiency.saves.int" class="save" type="text" value="{{data.proficiency.saves.int}}" />
  </div>
  <div class="stat">
    <label for="data.attribute.will">{{localize 'farhome.will'}}</label>
    <input name="data.attribute.will" type="text" value="{{data.attribute.will}}" />
    <input name="data.proficiency.saves.will" class="save" type="text" value="{{data.proficiency.saves.will}}" />
  </div>
  <div class="stat">
    <label for="data.attribute.cha">{{localize 'farhome.cha'}}</label>
    <input name="data.attribute.cha" type="text" value="{{data.attribute.cha}}" />
    <input name="data.proficiency.saves.cha" class="save" type="text" value="{{data.proficiency.saves.cha}}" />
  </div>
</section>