<div class="resource-box box flex-group-center">
  <div class="resource-content flexrow flex-center flex-between">
    <input type="text" name="{{objectString}}.value" value="{{value}}" data-dtype="Number"/>
    <span>{{separatorString}}</span>
    <input type="text" name="{{objectString}}.max" value="{{max}}" data-dtype="Number"/>
  </div>
  <label for="{{objectString}}.value" class="resource-label">{{label}}</label>
</div>