<tr>
  <td>
    <label class="resource-label" for="{{objectString}}.value" data-roll="{{roll}}" data-label="{{label}}">{{label}}</label>
  </td>
  <td>
    <input type="text" name="{{objectString}}.value" data-dtype="Number" value="{{value}}"/>
  </td>
</tr>