<div class="resource-box flex-group-center">
  <div class="resource-content flexrow flex-center flex-between">
    <input type="text" name="{{objectString}}.value" value="{{value}}" data-dtype="Number"/>
  </div>
  <label for="{{objectString}}.value" class="resource-label {{extraLabelClasses}}">{{label}}</label>
  <div class='resource-change-data' data-value-path='{{objectString}}.value'>
    <a class='resource-increment'><i class="fas fa-plus"></i></a>
    <a class='resource-decrement'><i class="fas fa-minus"></i></a>
  </div>
</div>