{{!-- TODO: This is virtually identical to feat-sheet. Unify this with a partial later. --}}

<form class="{{cssClass}}" autocomplete="off">
  {{!-- Uncomment to debug data context --}}
  {{!--{{log .}}--}}

  {{!-- Item Sheet Header --}}
  {{> "systems/farhome/templates/partials/item-header-partial.hbs"}}

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "farhome.description"}}</a>
    <a class="item" data-tab="attributes">{{localize "farhome.attributes"}}</a>
    <a class="item" data-tab="prompts">{{localize "farhome.prompts"}}</a>
    <a class="item" data-tab="rollTemplate">{{localize "farhome.rollTemplate"}}</a>
  </nav>

  {{!-- Item Sheet Content --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor enrichedText.description target="system.description.value" button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <table>
        <colgroup>
          <col class="attribute-label" />
          <col class="attribute-data" />
        </colgroup>
        {{>
        "systems/farhome/templates/partials/row-number-partial.hbs"
        system.quantity
        objectString="system.quantity"}}
        {{>
        "systems/farhome/templates/partials/row-number-partial.hbs"
        system.weight
        objectString="system.weight"}}
      </table>
    </div>

    {{!-- Prompts Tab --}}
    <div class="tab" data-group="primary" data-tab="prompts">
      {{>"systems/farhome/templates/partials/item/prompt-partial.hbs"}}
    </div>

    {{!-- Roll Template Tab --}}
    <div class="tab" data-group="primary" data-tab="rollTemplate">
      {{editor enrichedText.rollTemplate target="system.rollTemplate.value" button=true owner=owner editable=editable}}
    </div>
  </div>
</form>