<form class="{{cssClass}}" autocomplete="off">
  {{!-- Uncomment to debug data context --}}
  {{!--{{log .}}--}}

  {{!-- Item Sheet Header --}}
  {{> "systems/farhome/templates/partials/item-header-partial.hbs"}}

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "farhome.description"}}</a>
    <a class="item" data-tab="attributes">{{localize "farhome.attributes"}}</a>
    <a class="item" data-tab="rollTemplate">{{localize "farhome.rollTemplate"}}</a>
  </nav>

  {{!-- Item Sheet Content --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor content=system.description.value target="system.description.value" button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
        {{>
        "systems/farhome/templates/partials/row-string-partial.hbs"
        system.apCosts
        objectString="system.apCosts"}}
        {{>
        "systems/farhome/templates/partials/row-string-partial.hbs"
        system.weaponRequirements
        objectString="system.weaponRequirements"}}
        {{>
        "systems/farhome/templates/partials/row-string-partial.hbs"
        system.range
        objectString="system.range"}}
        {{>
        "systems/farhome/templates/partials/row-string-partial.hbs"
        system.levelRequirements
        objectString="system.levelRequirements"}}
    </div>

    {{!-- Roll Template Tab --}}
    <div class="tab" data-group="primary" data-tab="rollTemplate">
      {{editor content=system.rollTemplate.value target="system.rollTemplate.value" button=true owner=owner editable=editable}}
    </div>
  </div>
</form>