<form class="{{cssClass}}" autocomplete="off">
  {{!-- Uncomment to debug data context --}}
  {{!--{{log .}}--}}

  {{!-- Item Sheet Header --}}
  {{> "systems/farhome/templates/partials/item-header-partial.hbs"}}

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "farhome.description"}}</a>
    <a class="item" data-tab="attributes">{{localize "farhome.attributes"}}</a>
    <a class="item" data-tab="prompts">{{localize "farhome.prompts"}}</a>
    <a class="item" data-tab="rollTemplate">{{localize "farhome.rollTemplate"}}</a>
  </nav>

  {{!-- Item Sheet Content --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor enrichedText.description target="system.description.value" button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <table>
        <colgroup>
          <col class="attribute-label" />
          <col class="attribute-data" />
        </colgroup>
        {{>
        "systems/farhome/templates/partials/row-bool-partial.hbs"
        system.equipped
        objectString="system.equipped"}}
        {{>
        "systems/farhome/templates/partials/row-bool-partial.hbs"
        system.attuned
        objectString="system.attuned"}}
        {{>
        "systems/farhome/templates/partials/row-number-partial.hbs"
        system.charges
        objectString="system.charges"}}
        {{>
        "systems/farhome/templates/partials/row-number-partial.hbs"
        system.quantity
        objectString="system.quantity"}}
        {{>
        "systems/farhome/templates/partials/row-number-partial.hbs"
        system.weight
        objectString="system.weight"}}
        {{>
        "systems/farhome/templates/partials/row-select-partial.hbs"
        system.rarity
        objectString="system.rarity"
        mapping=config.rarities}}
        {{>
        "systems/farhome/templates/partials/row-select-partial.hbs"
        system.weaponType
        objectString="system.weaponType"
        mapping=config.weaponTypes}}
        {{>
        "systems/farhome/templates/partials/row-select-partial.hbs"
        system.damageType
        objectString="system.damageType"
        mapping=config.damageTypes}}
        {{>
        "systems/farhome/templates/partials/row-string-partial.hbs"
        system.range
        objectString="system.range"}}
        {{>
        "systems/farhome/templates/partials/row-bool-partial.hbs"
        system.finesse
        objectString="system.finesse"}}
        {{>
        "systems/farhome/templates/partials/row-bool-partial.hbs"
        system.heavy
        objectString="system.heavy"}}
        {{>
        "systems/farhome/templates/partials/row-bool-partial.hbs"
        system.loading
        objectString="system.loading"}}
        {{>
        "systems/farhome/templates/partials/row-number-partial.hbs"
        system.versatile
        objectString="system.versatile"}}
        {{>
        "systems/farhome/templates/partials/row-number-partial.hbs"
        system.reach
        objectString="system.reach"}}
      </table>
    </div>

    {{!-- Prompt Tab --}}
    <div class="tab" data-group="primary" data-tab="prompts">
      {{>"systems/farhome/templates/partials/item/prompt-partial.hbs"}}
    </div>

    {{!-- Roll Template Tab --}}
    <div class="tab" data-group="primary" data-tab="rollTemplate">
      {{editor enrichedText.rollTemplate target="system.rollTemplate.value" button=true owner=owner editable=editable}}
    </div>
  </div>
</form>