<form class="{{cssClass}}" autocomplete="off">
  {{!-- Uncomment to debug data context --}}
  {{!--{{log data}}--}}

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="inventory">{{localize 'farhome.inventory'}}</a>
    <a class="item" data-tab="notes">{{localize 'farhome.notes'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Inventory Tab --}}
    <div class="tab inventory-tab" data-group="primary" data-tab="inventory">
      <ol class="items-list">
        <li class="item flexrow item-divider">
          <div class="item-image"></div>
          <div class="item-name">Weapons</div>
          <div class="item-controls">
            <a class="item-control item-create" title="Create Weapon" data-type="weapon"><i class="fas fa-plus"></i> Add Weapon</a>
          </div>
        </li>
        {{#each weapons as |weapon id|}}
        <li class="item flexrow" data-item-id="{{weapon._id}}">
          <div class="item-image"><img src="{{weapon.img}}" title="{{weapon.name}}" width="24" height="24" /></div>
          <h4 class="item-name">{{weapon.name}}</h4>
          <div class="item-controls">
            <a class="item-control item-edit" title="Edit Weapon"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Weapon"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
        <li class="item flexrow item-divider">
          <div class="item-image"></div>
          <div class="item-name">Armors</div>
          <div class="item-controls">
            <a class="item-control item-create" title="Create Armor" data-type="armor"><i class="fas fa-plus"></i> Add Armor</a>
          </div>
        </li>
        {{#each armors as |armor id|}}
        <li class="item flexrow" data-item-id="{{armor._id}}">
          <div class="item-image"><img src="{{armor.img}}" title="{{armor.name}}" width="24" height="24" /></div>
          <h4 class="item-name">{{armor.name}}</h4>
          <div class="item-controls">
            <a class="item-control item-edit" title="Edit Armor"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Armor"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
        <li class="item flexrow item-divider">
          <div class="item-image"></div>
          <div class="item-name">Items</div>
          <div class="item-controls">
            <a class="item-control item-create" title="Create Spell" data-type="item"><i class="fas fa-plus"></i> Add Item</a>
          </div>
        </li>
        {{#each inventory as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
          <h4 class="item-name">{{item.name}}</h4>
          <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>
    </div>

    {{!-- Notes Tab --}}
    <div class="tab notes-tab" data-group="primary" data-tab="notes">
      {{editor content=data.notes.value target="data.notes.value" button=true owner=owner editable=editable}}
    </div>
  </section>
</form>