<div class="tab attributes-tab" data-group="primary" data-tab="attributes">
  <div class="attributes-content">
    <div class="attribute-list">
      {{>
      "systems/farhome/templates/partials/attribute-partial.hbs"
      system.attributes.str
      objectString="system.attributes.str"}}
      {{>
      "systems/farhome/templates/partials/attribute-partial.hbs"
      system.attributes.dex
      objectString="system.attributes.dex"}}
      {{>
      "systems/farhome/templates/partials/attribute-partial.hbs"
      system.attributes.sta
      objectString="system.attributes.sta"}}
      {{>
      "systems/farhome/templates/partials/attribute-partial.hbs"
      system.attributes.int
      objectString="system.attributes.int"}}
      {{>
      "systems/farhome/templates/partials/attribute-partial.hbs"
      system.attributes.will
      objectString="system.attributes.will"}}
      {{>
      "systems/farhome/templates/partials/attribute-partial.hbs"
      system.attributes.cha
      objectString="system.attributes.cha"}}
    </div>
    <div class="attributes-group-1">
      <div class="attribute-proficiency-group proficiency-group-box">
        <h2>{{localize 'farhome.skills'}}</h2>
        <div class="proficiency-group">
          <table class="proficiency-table">
            {{>
            "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
            system.proficiencies.attributes.dex.acrobatics
            objectString="system.proficiencies.attributes.dex.acrobatics"}}
            {{>
            "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
            system.proficiencies.attributes.int.arcana
            objectString="system.proficiencies.attributes.int.arcana"}}
            {{>
            "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
            system.proficiencies.attributes.str.athletics
            objectString="system.proficiencies.attributes.str.athletics"}}
            {{>
            "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
            system.proficiencies.attributes.cha.conversation
            objectString="system.proficiencies.attributes.cha.conversation"}}
            {{>
            "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
            system.proficiencies.attributes.sta.exhaustion
            objectString="system.proficiencies.attributes.sta.exhaustion"}}
            {{>
            "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
            system.proficiencies.attributes.int.insight
            objectString="system.proficiencies.attributes.int.insight"}}
            {{>
            "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
            system.proficiencies.attributes.str.intimidation
            objectString="system.proficiencies.attributes.str.intimidation"}}
            {{>
            "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
            system.proficiencies.attributes.int.lore
            objectString="system.proficiencies.attributes.int.lore"}}
            {{>
            "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
            system.proficiencies.attributes.will.medicine
            objectString="system.proficiencies.attributes.will.medicine"}}
            {{>
            "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
            system.proficiencies.attributes.will.nature
            objectString="system.proficiencies.attributes.will.nature"}}
            {{>
            "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
            system.proficiencies.attributes.will.perception
            objectString="system.proficiencies.attributes.will.perception"}}
            {{>
            "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
            system.proficiencies.attributes.cha.performance
            objectString="system.proficiencies.attributes.cha.performance"}}
            {{>
            "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
            system.proficiencies.attributes.cha.religion
            objectString="system.proficiencies.attributes.cha.religion"}}
            {{>
            "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
            system.proficiencies.attributes.dex.stealth
            objectString="system.proficiencies.attributes.dex.stealth"}}
            {{>
            "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
            system.proficiencies.attributes.sta.survival
            objectString="system.proficiencies.attributes.sta.survival"}}
            {{>
            "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
            system.proficiencies.attributes.dex.thievery
            objectString="system.proficiencies.attributes.dex.thievery"}}
          </table>
        </div>
      </div>
    </div>
    <div class="attributes-group-2">
      <div class="saves-list proficiency-group-box">
        <h2>{{localize 'farhome.saves'}}</h2>
        <table class="proficiency-table">
          <colgroup>
            <col class="proficiency-label" />
            <col class="proficiency-data" />
          </colgroup>
          {{>
          "systems/farhome/templates/partials/row-rollable-number-save-partial.hbs"
          system.proficiencies.saves.str
          objectString="system.proficiencies.saves.str"}}
          {{>
          "systems/farhome/templates/partials/row-rollable-number-save-partial.hbs"
          system.proficiencies.saves.dex
          objectString="system.proficiencies.saves.dex"}}
          {{>
          "systems/farhome/templates/partials/row-rollable-number-save-partial.hbs"
          system.proficiencies.saves.sta
          objectString="system.proficiencies.saves.sta"}}
          {{>
          "systems/farhome/templates/partials/row-rollable-number-save-partial.hbs"
          system.proficiencies.saves.int
          objectString="system.proficiencies.saves.int"}}
          {{>
          "systems/farhome/templates/partials/row-rollable-number-save-partial.hbs"
          system.proficiencies.saves.will
          objectString="system.proficiencies.saves.will"}}
          {{>
          "systems/farhome/templates/partials/row-rollable-number-save-partial.hbs"
          system.proficiencies.saves.cha
          objectString="system.proficiencies.saves.cha"}}
        </table>
      </div>
      <div class="tools-proficiency-group proficiency-group-box">
        <h2>{{localize 'farhome.tools'}}</h2>
        <table class="proficiency-table">
          <colgroup>
            <col class="proficiency-label" />
            <col class="proficiency-data" />
          </colgroup>
          {{>
          "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
          system.proficiencies.tools.repairKit
          objectString="system.proficiencies.tools.repairKit"}}
          {{>
          "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
          system.proficiencies.tools.enchantersTools
          objectString="system.proficiencies.tools.enchantersTools"}}
          {{>
          "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
          system.proficiencies.tools.apothecarySet
          objectString="system.proficiencies.tools.apothecarySet"}}
          {{>
          "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
          system.proficiencies.tools.scribingTools
          objectString="system.proficiencies.tools.scribingTools"}}
        </table>
      </div>
      <div class="equipment-proficiency-group proficiency-group-box">
        <h2>{{localize 'farhome.equipment'}}</h2>
        <table class="proficiency-table">
          <colgroup>
            <col class="proficiency-label" />
            <col class="proficiency-data" />
          </colgroup>
          {{>
          "systems/farhome/templates/partials/row-bool-partial.hbs"
          system.proficiencies.equipment.lightArmor
          objectString="system.proficiencies.equipment.lightArmor"}}
          {{>
          "systems/farhome/templates/partials/row-bool-partial.hbs"
          system.proficiencies.equipment.mediumArmor
          objectString="system.proficiencies.equipment.mediumArmor"}}
          {{>
          "systems/farhome/templates/partials/row-bool-partial.hbs"
          system.proficiencies.equipment.heavyArmor
          objectString="system.proficiencies.equipment.heavyArmor"}}
          {{>
          "systems/farhome/templates/partials/row-bool-partial.hbs"
          system.proficiencies.equipment.buckler
          objectString="system.proficiencies.equipment.buckler"}}
          {{>
          "systems/farhome/templates/partials/row-bool-partial.hbs"
          system.proficiencies.equipment.shield
          objectString="system.proficiencies.equipment.shield"}}
        </table>
      </div>
    </div>
    <div class="attributes-group-3">
      <div class="spells-proficiency-group proficiency-group-box">
        <h2>{{localize 'farhome.spells'}}</h2>
        <table class="proficiency-table">
          <colgroup>
            <col class="proficiency-label" />
            <col class="proficiency-data" />
          </colgroup>
          {{>
          "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
          system.proficiencies.spells.arcane
          objectString="system.proficiencies.spells.arcane"}}
          {{>
          "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
          system.proficiencies.spells.divine
          objectString="system.proficiencies.spells.divine"}}
          {{>
          "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
          system.proficiencies.spells.druidic
          objectString="system.proficiencies.spells.druidic"}}
          {{>
          "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
          system.proficiencies.spells.elder
          objectString="system.proficiencies.spells.elder"}}
          {{>
          "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
          system.proficiencies.spells.occult
          objectString="system.proficiencies.spells.occult"}}
        </table>
      </div>
      <div class="weapons-proficiency-group proficiency-group-box">
        <h2>{{localize 'farhome.weapons'}}</h2>
        <table class="proficiency-table">
          <colgroup>
            <col class="proficiency-label" />
            <col class="proficiency-data" />
          </colgroup>
          {{>
          "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
          system.proficiencies.weapons.oneHand
          objectString="system.proficiencies.weapons.oneHand"}}
          {{>
          "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
          system.proficiencies.weapons.twoHand
          objectString="system.proficiencies.weapons.twoHand"}}
          {{>
          "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
          system.proficiencies.weapons.ranged
          objectString="system.proficiencies.weapons.ranged"}}
          {{>
          "systems/farhome/templates/partials/row-rollable-number-partial.hbs"
          system.proficiencies.weapons.unarmed
          objectString="system.proficiencies.weapons.unarmed"}}
        </table>
      </div>
    </div>
  </div>
</div>