{{log .}}
{{log effects.temporary.effects}}
<div class="tab effects-tab" data-group="primary" data-tab="effects">
  <ol class="items-list">
    <li class="item flexrow items-header">
      <div class="item-image"></div>
      <div class="item-name">{{localize 'farhome.name'}}</div>
      <div class="item-controls"></div>
    </li>
    {{#each effects.temporary.effects as |effect id|}}
    <li class="item flexrow" data-effect-id="{{effect._id}}">
      <div class="item-image"><img src="{{effect.icon}}" title="{{effect.label}}" width="24" height="24"></div>
      <h4 class="item-name">
        <a class="item-name-link">{{effect.label}}</a>
      </h4>
      <div class="item-controls">
        <a class="item-control effect-delete" title="{{localize 'farhome.deleteEffect'}}"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/each}}
  </ol>
</div>