{{!-- #todo A lot of code duplication in this file that can be reduced with partials. --}}

<div class="tab inventory-tab" data-group="primary" data-tab="inventory">
  <ol class="items-list">
    {{!-- MAIN HEADER --}}
    <li class="item flexrow items-header">
      <div class="item-image"></div>
      <div class="item-name">{{localize 'farhome.name'}}</div>
      <div class="item-equipped">{{localize 'farhome.equipped'}}</div>
      <div class="item-attuned">{{localize 'farhome.attuned'}}</div>
      <div class="item-charges">{{localize 'farhome.charges'}}</div>
      <div class="item-quantity">{{localize 'farhome.quantity'}}</div>
      <div class="item-controls"></div>
    </li>

    {{!-- MONEY HEADER --}}
    <li class="item flexrow item-divider">
      <div class="item-image"></div>
      <div class="item-name">{{localize 'farhome.money'}}</div>
      <div class="item-equipped"></div>
      <div class="item-attuned"></div>
      <div class="item-charges"></div>
      <div class="item-quantity"></div>
      <div class="item-controls">
        <a class="item-control item-create" title="{{localize 'farhome.createMoney'}}" data-type="money"><i class="fas fa-plus"></i> {{localize 'farhome.createMoney'}}</a>
      </div>
    </li>
    {{#each money as |money id|}}
    <li class="item flexrow" data-item-id="{{money._id}}">
      <div class="item-image"><img src="{{money.img}}" title="{{money.name}}" width="24" height="24"></div>
      <h4 class="item-name">{{money.name}}</h4>
      <div class="item-equipped"></div>
      <div class="item-attuned"></div>
      <div class="item-charges"></div>
      <div class="item-quantity">
        <input type="text" class="item-quantity-input" value="{{money.data.quantity.value}}" min="0" data-dtype="Number">
      </div>
      <div class="item-controls">
        <a class="item-control item-edit" title="{{localize 'farhome.editMoney'}}"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="{{localize 'farhome.deleteMoney'}}"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/each}}

    {{!-- WEAPONS HEADER --}}
    <li class="item flexrow item-divider">
      <div class="item-image"></div>
      <div class="item-name">{{localize 'farhome.weapons'}}</div>
      <div class="item-equipped item-centered"></div>
      <div class="item-attuned"></div>
      <div class="item-charges"></div>
      <div class="item-quantity"></div>
      <div class="item-controls">
        <a class="item-control item-create" title="{{localize 'farhome.createWeapon'}}" data-type="weapon"><i class="fas fa-plus"></i> {{localize 'farhome.createWeapon'}}</a>
      </div>
    </li>
    {{#each weapons as |weapon id|}}
    <li class="item flexrow" data-item-id="{{weapon._id}}">
      <div class="item-image"><img src="{{weapon.img}}" title="{{weapon.name}}" width="24" height="24"></div>
      <h4 class="item-name">
        <a class="item-name-link">{{weapon.name}}</a>
      </h4>
      <div class="item-equipped">
        <input type="checkbox" class="item-equipped-input" data-dtype="Boolean" {{checked weapon.data.equipped.value}}/>
      </div>
      <div class="item-attuned">
        <input type="checkbox" class="item-attuned-input" data-dtype="Boolean" {{checked weapon.data.attuned.value}}/>
      </div>
      <div class="item-charges">
        <input type="text" class="item-charges-input" value="{{weapon.data.charges.value}}" min="0" data-dtype="Number"/>
      </div>
      <div class="item-quantity">
        <input type="text" class="item-quantity-input" value="{{weapon.data.quantity.value}}" min="0" data-dtype="Number"/>
      </div>
      <div class="item-controls">
        <a class="item-control item-edit" title="{{localize 'farhome.editWeapon'}}"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="{{localize 'farhome.deleteWeapon'}}"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/each}}

    {{!-- ARMOR HEADER --}}
    <li class="item flexrow item-divider">
      <div class="item-image"></div>
      <div class="item-name">{{localize 'farhome.armors'}}</div>
      <div class="item-equipped"></div>
      <div class="item-attuned"></div>
      <div class="item-charges"></div>
      <div class="item-quantity"></div>
      <div class="item-controls">
        <a class="item-control item-create" title="{{localize 'farhome.createArmor'}}" data-type="armor"><i class="fas fa-plus"></i> {{localize 'farhome.createArmor'}}</a>
      </div>
    </li>
    {{#each armors as |armor id|}}
    <li class="item flexrow" data-item-id="{{armor._id}}">
      <div class="item-image"><img src="{{armor.img}}" title="{{armor.name}}" width="24" height="24"></div>
      <h4 class="item-name">
        <a class="item-name-link">{{armor.name}}</a>
      </h4>
      <div class="item-equipped">
        <input type="checkbox" class="item-equipped-input" data-dtype="Boolean" {{checked armor.data.equipped.value}}/>
      </div>
      <div class="item-attuned">
        <input type="checkbox" class="item-attuned-input" data-dtype="Boolean" {{checked armor.data.attuned.value}}/>
      </div>
      <div class="item-charges">
        <input type="text" class="item-charges-input" value="{{armor.data.charges.value}}" min="0" data-dtype="Number"/>
      </div>
      <div class="item-quantity">
        <input type="text" class="item-quantity-input" value="{{armor.data.quantity.value}}" min="0" data-dtype="Number"/>
      </div>
      <div class="item-controls">
        <a class="item-control item-edit" title="{{localize 'farhome.editArmor'}}"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="{{localize 'farhome.deleteArmor'}}"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/each}}

    {{!-- CONSUMABLES HEADER --}}
    <li class="item flexrow item-divider">
      <div class="item-image"></div>
      <div class="item-name">{{localize 'farhome.consumables'}}</div>
      <div class="item-equipped"></div>
      <div class="item-attuned"></div>
      <div class="item-charges"></div>
      <div class="item-quantity"></div>
      <div class="item-controls">
        <a class="item-control item-create" title="{{localize 'farhome.createConsumable'}}" data-type="consumable"><i class="fas fa-plus"></i> {{localize 'farhome.createConsumable'}}</a>
      </div>
    </li>
    {{#each consumables as |consumable id|}}
    <li class="item flexrow" data-item-id="{{consumable._id}}">
      <div class="item-image"><img src="{{consumable.img}}" title="{{consumable.name}}" width="24" height="24"></div>
      <h4 class="item-name">
        <a class="item-name-link">{{consumable.name}}</a>
      </h4>
      <div class="item-equipped"></div>
      <div class="item-attuned"></div>
      <div class="item-charges"></div>
      <div class="item-quantity">
        <input type="text" class="item-quantity-input" value="{{consumable.data.quantity.value}}" min="0" data-dtype="Number"/>
      </div>
      <div class="item-controls">
        <a class="item-control item-edit" title="{{localize 'farhome.editConsumable'}}"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="{{localize 'farhome.deleteConsumable'}}"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/each}}

    {{!-- CRAFTING HEADER --}}
    <li class="item flexrow item-divider">
      <div class="item-image"></div>
      <div class="item-name">{{localize 'farhome.crafting'}}</div>
      <div class="item-equipped"></div>
      <div class="item-attuned"></div>
      <div class="item-charges"></div>
      <div class="item-quantity"></div>
      <div class="item-controls">
        <a class="item-control item-create" title="{{localize 'farhome.createCraftingItem'}}" data-type="crafting"><i class="fas fa-plus"></i> {{localize 'farhome.createCraftingItem'}}</a>
      </div>
    </li>
    {{#each craftingItems as |craftingItem id|}}
    <li class="item flexrow" data-item-id="{{craftingItem._id}}">
      <div class="item-image"><img src="{{craftingItem.img}}" title="{{craftingItem.name}}" width="24" height="24"></div>
      <h4 class="item-name">
        <a class="item-name-link">{{craftingItem.name}}</a>
      </h4>
      <div class="item-equipped"></div>
      <div class="item-attuned"></div>
      <div class="item-charges"></div>
      <div class="item-quantity">
        <input type="text" class="item-quantity-input" value="{{craftingItem.data.quantity.value}}" min="0" data-dtype="Number"/>
      </div>
      <div class="item-controls">
        <a class="item-control item-edit" title="{{localize 'farhome.editCraftingItem'}}"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="{{localize 'farhome.deleteCraftingItem'}}"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/each}}

    {{!-- ITEMS HEADER --}}
    <li class="item flexrow item-divider">
      <div class="item-image"></div>
      <div class="item-name">{{localize 'farhome.items'}}</div>
      <div class="item-equipped"></div>
      <div class="item-attuned"></div>
      <div class="item-charges"></div>
      <div class="item-quantity"></div>
      <div class="item-controls">
        <a class="item-control item-create" title="{{localize 'farhome.createItem'}}" data-type="item"><i class="fas fa-plus"></i> {{localize 'farhome.createItem'}}</a>
      </div>
    </li>
    {{#each inventory as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"></div>
      <h4 class="item-name">
        <a class="item-name-link">{{item.name}}</a>
      </h4>
      <div class="item-equipped">
        <input type="checkbox" class="item-equipped-input" data-dtype="Boolean" {{checked item.data.equipped.value}}/>
      </div>
      <div class="item-attuned">
        <input type="checkbox" class="item-attuned-input" data-dtype="Boolean" {{checked item.data.attuned.value}}/>
      </div>
      <div class="item-charges">
        <input type="text" class="item-charges-input" value="{{item.data.charges.value}}" min="0" data-dtype="Number"/>
      </div>
      <div class="item-quantity">
        <input type="text" class="item-quantity-input" min="0" data-dtype="Number" value="{{item.data.quantity.value}}"/>
      </div>
      <div class="item-controls">
        <a class="item-control item-edit" title="{{localize 'farhome.editItem'}}"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="{{localize 'farhome.deleteItem'}}"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/each}}
  </ol>
</div>