<div class="tab maneuvers-tab" data-group="primary" data-tab="maneuvers">
  <ol class="items-list">
    <li class="item flexrow items-header">
      <div class="item-image"></div>
      <div class="item-name">{{localize 'farhome.name'}}</div>
      <div class="item-controls">
        <a class="item-control item-create" title="{{localize 'farhome.createManeuver'}}" data-type="maneuver"><i class="fas fa-plus"></i> {{localize 'farhome.createManeuver'}}</a>
      </div>
    </li>
    {{#each maneuvers as |maneuver id|}}
    <li class="item flexrow" data-item-id="{{maneuver._id}}">
      <div class="item-image"><img src="{{maneuver.img}}" title="{{maneuver.name}}" width="24" height="24"></div>
      <h4 class="item-name">
        <a class="item-name-link">{{maneuver.name}}</a>
      </h4>
      <div class="item-controls">
        <a class="item-control item-edit" title="{{localize 'farhome.editManeuver'}}"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="{{localize 'farhome.deleteManeuver'}}"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/each}}
  </ol>
</div>