<div class="resource-fields grid grid-8col">

  <!-- Hero Dice -->
  {{>
  "systems/farhome/templates/partials/max-resource-partial.hbs"
  system.features.hero
  objectString="system.features.hero"
  separatorString=" / "
  extraLabelClasses=""}}
  
  <!-- Wounds -->
  {{>
  "systems/farhome/templates/partials/max-resource-partial.hbs"
  system.features.wounds
  objectString="system.features.wounds"
  separatorString=" / "
  extraLabelClasses=""}}
  
  <!-- Temp Wounds -->
  {{>
  "systems/farhome/templates/partials/resource-partial.hbs"
  system.features.tempWounds
  objectString="system.features.tempWounds"
  extraLabelClasses=""}}
  
  <!-- Healing Surges -->
  {{>
  "systems/farhome/templates/partials/resource-partial.hbs"
  system.features.healingSurges
  objectString="system.features.healingSurges"
  extraLabelClasses="healing-surge resource-clickable"}}
  
  <!-- AP -->
  {{>
  "systems/farhome/templates/partials/max-resource-partial.hbs"
  system.features.ap
  objectString="system.features.ap"
  separatorString=" / "
  extraLabelClasses="ap-recharge resource-clickable"}}
  
  <!-- Spell Power -->
  {{>
  "systems/farhome/templates/partials/resource-partial.hbs"
  system.features.spellPower
  objectString="system.features.spellPower"
  extraLabelClasses=""}}

  <!-- Mana -->
  {{>
  "systems/farhome/templates/partials/max-resource-partial.hbs"
  system.features.mana
  objectString="system.features.mana"
  separatorString=" / "
  extraLabelClasses="mana-refill resource-clickable"}}
  
  <!-- Movement -->
  <div class="resource-box flex-group-center">
    <div class="resource-content flexrow flex-center flex-between">
      <input type="text" name="system.features.move.value" value="{{system.features.move.value}}" data-dtype="Number"
        placeholder="{{localize 'farhome.move'}}" />
      <input type="text" name="system.features.sprint.value" value="{{system.features.sprint.value}}"
        data-dtype="Number" placeholder="{{localize 'farhome.sprint'}}" />
    </div>
    <label for="system.features.move.value" class="resource-label">{{system.features.move.label}}</label>
  </div>
</div>