<div class="tab spells-tab" data-group="primary" data-tab="spells">
  <ol class="items-list">
    <li class="item flexrow items-header">
      <div class="item-image"></div>
      <div class="item-name">{{localize 'farhome.name'}}</div>
      <div class="item-prepared">{{localize 'farhome.prepared'}}</div>
      <div class="item-controls"></div>
    </li>
    {{#each spells as |spellsByLevel spellLevel|}}
      <li class="item flexrow item-divider">
        <div class="item-image"></div>
        <div class="item-name">Level {{spellLevel}} Spells</div>
        <div class="item-prepared"></div>
        <div class="item-controls">
          <a class="item-control item-create" title="{{localize 'farhome.createLevel'}} {{spellLevel}} {{localize 'farhome.spell'}}" data-type="spell" data-spell-level="{{spellLevel}}"><i class="fas fa-plus"></i> {{localize 'farhome.createLevel'}} {{spellLevel}} {{localize 'farhome.spell'}}</a>
        </div>
      </li>
      {{#each spellsByLevel as |spell id|}}
        <li class="item flexrow" data-item-id="{{spell._id}}">
          <div class="item-image"><img src="{{spell.img}}" title="{{spell.name}}" width="24" height="24"></div>
          <h4 class="item-name">
            <a class="item-name-link">{{spell.name}}</a>
          </h4>
          <div class="item-prepared">
            <input type="checkbox" class="item-prepared-input" data-dtype="Boolean" {{checked spell.system.prepared.value}}/>                
          </div>
          <div class="item-controls">
            <a class="item-control item-edit" title="{{localize 'farhome.editSpell'}}"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="{{localize 'farhome.deleteSpell'}}"><i class="fas fa-trash"></i></a>
          </div>
        </li>
      {{/each}}
    {{/each}}
  </ol>
</div>